# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large data & models (do not commit unless using Git LFS)
household_power_consumption.txt
household_rf_model.joblib

# VSCode
.vscode/
